<%- include("partials/header"); %>
<div class="writing-main">
  <div class="button-group">
    <a href="/create-write"><i class="fas fa-plus"></i>Create Post</a>
  </div>
  <div class="all-posts">
    <h1>All Writing Posts</h1>
    <div class="write-posts">
    <% posts.forEach(function(post){ %>
      <div class="art">
        <img src="https://drive.google.com/uc?export=view&id=<%= post.content %>" alt="write-up" class="art-img" />
        <div class="artist-details">
          <div class="data">
            <h3>
              <%= post.title %>
            </h3>
            <h4>By <%= post.author %>
            </h4>
          </div>
          <div class="icons">
            <a href="/delete-post/<%= post._id %>"><i class="far fa-trash-alt"></i></a><br>
          </div>
        </div>
      </div>
      <!-- <tr>
        <td><%=post.title%></td>
        <td><%= post.author %></td>
        <td><%=post.content.substring(0, 50) + " ..."%></td>
        <td><a class="read-more" href="/posts/<%=post._id%>">Read More</a></td>
        <td><a href="/delete-post/<%= post._id %>"><i class="far fa-trash-alt"></i></a></td>
      </tr> -->

    <% }) %>
  </div>
  </div>
</div>
<%- include("partials/footer"); %>
